<br><br>
<hr>
<!-- Sección Footer -->
<footer class="bg-light text-center text-black mt-3">
    <h5>Síguenos en:</h5>
    <!-- Grid container -->
    <div class="container p-2 pb-0">
        <!-- Section: Redes Sociales-->
        <section class="mb-4 RRSS">

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
                href="https://www.facebook.com/" target="_blank" role="button" title="Facebook"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/"
                target="_blank" role="button" title="Twitter"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="https://www.google.es/"
                target="_blank" role="button" title="Google"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;"
                href="https://www.instagram.com/" target="_blank" role="button" title="Instagram"><i
                    class="fab fa-instagram"></i></a>

        </section>

        <!-- <form action="https://www.paypal.com/donate/" method="post" target="_top"> -->
            <div class="mb-2">
                <a href="https://www.paypal.com/donate/?hosted_button_id=4Z7A6KTRE3Y66" target="_blank" class="mb-2">
                    <!-- <input type="hidden" name="hosted_button_id" value="4Z7A6KTRE3Y66" /> -->
                    <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif"
                        name="submit" title="Ir a Donar por Paypal" alt="Botón Donar con PayPal" />
                    <img alt="" src="https://www.paypal.com/es_ES/i/scr/pixel.gif" width="1" height="1" />
                </a>
            </div>
            
        <!-- </form> -->



    </div>


    

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <!-- Certificación WCAG -->
        <!-- <span><a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank"><img
                    src="assets/images/certificate.jpg" alt="certificate" class="imgCertificate"></a></span> 
        <br> -->
        <br>

        © 2022 Copyright: Francisco Martínez Martín
        <span class="garantia">
            <img src="assets/images/shield.png" alt="Protección" class="imgFooter" style="cursor:initial">
            <img src="assets/images/guarantee.png" alt="Garantía" class="imgFooter" style="cursor:initial">
        </span>

        <br><br>
        <!-- IES El Cañaveral -->
        <span class="m-3"><a href="https://site.educa.madrid.org/ies.elcanaveral.mostoles/" target="_blank"
                class="linkFooter" title="Ir a IES El Cañaveral"><i class="fas fa-school colorAzulOscuro"></i> IES El
                Cañaveral</a></span>
        <span>-</span>
        <!-- Sitemap -->
        <span class="m-3"><a [routerLink]="['/sitemap']" class="linkFooter" title="Ir a Sitemap"><i
                    class="fas fa-sitemap"></i> Mapa del sitio</a></span>
    </div>
</footer>